.keyboard {
  background: #d9dbde;
  bottom: 0;
  position: absolute;
  height: 70vh;
}

.keyboard .number {
  /* background: #ff0; */
  width: 80vw;
}

.keyboard .number>li {
  width: 33.33%;
  text-align: center;
  height: 17.5vh;
  line-height: 17.5vh;
  font-size: 2.6rem;
}

.keyboard .maths {
  width: 20vw;
  text-align: center;
  font-size: 2.6rem;
  height: 14vh;
  line-height: 14vh;
  flex-direction: column;
}

.keyboard li:active {
  background: #b9b9b9;
}

