/* You can add global styles to this file, and also import other style files */
* {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.grid {
  display: -webkit-flex;
  display: -webkit-box;
  display: box;
  display: flex;
}

.cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.cell--top {
  align-self: flex-start;
}

.cell--middle {
  align-self: center;
}

.cell--bottom {
  align-self: flex-end;
}

.cell--stretch {
  align-self: stretch;
}

.wrap {
  -webkit-flex-flow:row wrap;
  -webkit-box-orient:horizontal;
  -webkit-box-lines:multiple;
  -moz-flex-flow:row wrap;
  box-orient:horizontal;
  box-lines:multiple;
  flex-flow:row wrap;
}


